* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.etsystatic.com/27594719/r/il/ebf24d/3607050403/il_1588xN.3607050403_81gh.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: red;
}

.game-info {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    
}

.card {
    width: 100px;
    height: 110px;
    position: relative;
    perspective: 1000px;
   
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.card-back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.hidden {
    display: none;
}